*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* width: 33%; */
    background: linear-gradient(to right, rgb(233, 84, 84), rgb(132, 206, 14));
}

.container{
    width: 50%;
    margin: 40px auto;
    /* box-shadow: 0px, 0px, 43px, 20px rgb(112, 110, 108); */
}

#res{
    background-color: rgba(240, 247, 239, 0.5);
    border: 2px solid red;
    height: 56px;
    font-size: 40px;
    text-align: right;
    line-height: 56px;
    padding-right: 5px;
}

#btn0, #btn1{
    background-color: lightgreen;
    color: brown;
}

#btn0, #btnSum{
    border-top-left-radius: 0px;
    /* border-bottom-left-radius: 0px; */
}

#btnEql, #btnDiv{
    border-top-right-radius: 0px;
}

#btnClr, #btnEql{
    background-color: darkgreen;
    color: white;
}

#btnSum, #btnSub, #btnMul, #btnDiv{
    background-color: black;
    color: red;
}

.btn{
    width: 25%;
    height: 56px;
    font-size: 25px;
    font-weight: 800;
    margin: 0px;
    float: left;
    border: 1px solid red;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    opacity: 0.5;
    border: none;
}
